@font-face {
    font-family: 'HarryP';
    src: url('../assets/HarryP-MVZ6w.ttf') format('truetype');
}

* {
    margin: 0;
}
#root {
    max-width: 100vw;
    height: 100vh;
    background-image: url('../assets/Hogwarts.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#title {
    font-family: 'HarryP', sans-serif;
    font-size: 10rem;
    color: #FFD700;
    animation: glow 2s infinite;
    font-weight: normal;
    text-align: center;
}
#startButton {
    font-size: 2rem;
    margin-top: 2rem;
    padding: 1rem 3rem;
    border-radius: 1rem;
    border: 1px solid #FFD700;
    box-shadow: 0 0 20px #FFD700;
    background-color: rgba(0, 0, 0, 0.3);
    color: #FFD700;
    font-weight: bold;
    cursor: pointer;
}
@keyframes glow {
    0% {
        text-shadow: 0 0 10px #FFD700;
    }
    50% {
        text-shadow: 0 0 20px #FFD700;
    }
    100% {
        text-shadow: 0 0 10px #FFD700;
    }
}